html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #000;
  background-color: #e2e2e2;
  text-align: left;
}

section {

}

div {
  margin: 1rem;
}

h1 {
  font-size: 1.5rem;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

.second {
  margin-bottom: 1.5em;
}

a {
  padding: .5rem;
  background-color: #555;
  border-radius: 6px;
}

a:hover {
  color: #fff;
}

@media only screen and (min-width: 38em) {

  div {
    display: inline-block;
    width: 45%;
  }

  img {
    margin: 0;
    width: 45%;
    display: inline-block;
  }

}
